body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; }
   

#chess-board{
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8,60px);
    width: 480px;
    height: 480px;
   border: black;

  

}
.square-black{
 width: 60xp; 
 height: 60 xp; 
 background-color: #28231D;

   
}

.square-white{
    width: 60xp; 
    height: 60 xp; 
    background-color: white;
    color:gray;
    
}
.square-black, .square-white{
    border: 3px solod gray; 
}